Repository JoBinsJP/vue3-datatable: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

1.0.6
  package.json
Due: yarn lint:prettier, yarn dist

css issue in pagination component fixed
  dist/style.css
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
  lib/DataTable/DataTable.vue
  package.json
  postcss.config.js
  tailwind.config.js
  vite.package.config.ts
  yarn.lock
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

1.0.7
  package.json
Due: yarn lint:prettier, yarn dist

package upgraded
  dist/style.css
  package.json
  tailwind.config.js
  yarn.lock
Due: yarn lint:style --fix, yarn lint:prettier, yarn dist

ui fixes
  dist/favicon.ico
  dist/style.css
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
  index.html
  lib/DataTable/Components/Loading.vue
  lib/DataTable/Components/Pagination.vue
  lib/DataTable/Components/PaginationLink.vue
  lib/DataTable/Components/TableBody.vue
  lib/DataTable/Components/TableHead.vue
  lib/DataTable/DataTable.scss
  lib/DataTable/DataTable.vue
  package.json
  public/favicon.ico
  src/components/Layout/Layout.vue
  tailwind.config.js
  vite.package.config.ts
  yarn.lock
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

component breakdown
  dist/style.css
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
  lib/DataTable/@types/PaginationProps.ts
  lib/DataTable/Components/Filter/Filter.vue
  lib/DataTable/Components/Filter/SearchIcon.vue
  lib/DataTable/Components/Filter/SearchInput.vue
  lib/DataTable/Components/Pagination.vue
  lib/DataTable/Components/Pagination/BottomPaginationWrapper.vue
  lib/DataTable/Components/Pagination/Pagination.vue
  lib/DataTable/Components/Pagination/PaginationButtons.vue
  lib/DataTable/Components/Pagination/PaginationInfo.vue
  lib/DataTable/Components/Pagination/PaginationLink.vue
  lib/DataTable/Components/Pagination/PaginationSize.vue
  lib/DataTable/Components/Pagination/TopPaginationWrapper.vue
  lib/DataTable/Components/Table/TBody.vue
  lib/DataTable/Components/Table/THead.vue
  lib/DataTable/Components/Table/TableBodyCell.vue
  lib/DataTable/Components/Table/TableHeadCell.vue
  lib/DataTable/Components/Table/TableRow.vue
  lib/DataTable/Components/Table/TableWrapper.vue
  lib/DataTable/DataTable.vue
  lib/DataTable/index.ts
  src/components/Tables/Filter.vue
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

column name auto formatting
  lib/DataTable/DataTable.vue
  lib/DataTable/utils/helpers.ts
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

build
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
Due: yarn lint:prettier, yarn dist

1.0.8
  package.json
Due: yarn lint:prettier, yarn dist

Updates
  assets/index.075837f2.js
  assets/index.5471c82d.js
  assets/index.bf50c7b2.css
  assets/index.fe553302.css
  assets/vendor.a0ce2f68.js
  assets/vendor.c3056e86.js
  favicon.ico
  index.html
Due: yarn lint:style --fix, yarn lint:prettier, yarn dist

clickable row
  lib/DataTable/Components/Table/TableRow.vue
  lib/DataTable/DataTable.vue
  src/components/Tables/ClickableRow.vue
  src/routes.ts
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

empty state
  dist/style.css
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
  lib/DataTable/Components/Table/TableRow.vue
  lib/DataTable/DataTable.vue
  src/components/Tables/EmptyTable.vue
  src/routes.ts
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

1.0.9
  package.json
Due: yarn lint:prettier, yarn dist

Updates
  assets/index.075837f2.js
  assets/index.577a8f1c.js
  assets/index.5a4c32a4.css
  assets/index.bf50c7b2.css
  index.html
Due: yarn lint:style --fix, yarn lint:prettier, yarn dist

overflow issue fixed
  lib/DataTable/DataTable.vue
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

1.0.10
  package.json
Due: yarn lint:prettier, yarn dist

pagination info slot
  lib/DataTable/DataTable.vue
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

1.0.11
  package.json
Due: yarn lint:prettier, yarn dist

pagination info and sn class
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
Due: yarn lint:prettier, yarn dist

1.0.12
  package.json
Due: yarn lint:prettier, yarn dist

test datatable implementation
  src/components/Tables/Test.vue
  src/routes.ts
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

error en el DataTable, soporte para typescript
  .gitignore
  dist/style.css
  dist/types/index.d.ts
  dist/types/lib/DataTable/@types/PaginationProps.d.ts
  dist/types/lib/DataTable/@types/QueryProps.d.ts
  dist/types/lib/DataTable/@types/TableQuery.d.ts
  dist/types/lib/DataTable/index.d.ts
  dist/types/lib/DataTable/utils/helpers.d.ts
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
  lib/DataTable/Components/Filter/Filter.vue
  lib/DataTable/Components/Filter/SearchInput.vue
  lib/DataTable/Components/Pagination/Pagination.vue
  lib/DataTable/Components/Pagination/PaginationSize.vue
  lib/DataTable/Components/Table/TableRow.vue
  lib/DataTable/DataTable.vue
  lib/DataTable/index.ts
  package.json
  src/components/Tables/Paginated.vue
  tsconfig.json
  tsconfig.lib.json
  tsconfig.test.json
  vite.demo.config.ts
  vite.package.config.ts
  yarn.lock
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

error en el DataTable, soporte para typescript
  package.json
Due: yarn lint:prettier, yarn dist

tabla responsiva
  dist/style.css
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
  lib/DataTable/Components/Table/TableWrapper.vue
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

tabla responsiva
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
  package.json
  tailwind.config.js
Due: yarn lint:prettier, yarn dist

tabla responsiva
  lib/DataTable/DataTable.vue
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

tabla responsiva
  dist/style.css
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
Due: yarn lint:style --fix, yarn lint:prettier, yarn dist

tabla responsiva
  package.json
Due: yarn lint:prettier, yarn dist

solucion css
  dist/style.css
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
  lib/DataTable/Components/Filter/Filter.vue
  lib/DataTable/Components/Filter/SearchIcon.vue
  lib/DataTable/Components/Filter/SearchInput.vue
  lib/DataTable/Components/Loading.vue
  lib/DataTable/Components/Pagination/BottomPaginationWrapper.vue
  lib/DataTable/Components/Pagination/Pagination.vue
  lib/DataTable/Components/Pagination/PaginationButtons.vue
  lib/DataTable/Components/Pagination/PaginationInfo.vue
  lib/DataTable/Components/Pagination/PaginationLink.vue
  lib/DataTable/Components/Pagination/PaginationSize.vue
  lib/DataTable/Components/Pagination/TopPaginationWrapper.vue
  lib/DataTable/Components/Table/TBody.vue
  lib/DataTable/Components/Table/THead.vue
  lib/DataTable/Components/Table/TableBodyCell.vue
  lib/DataTable/Components/Table/TableHeadCell.vue
  lib/DataTable/Components/Table/TableRow.vue
  lib/DataTable/Components/Table/TableWrapper.vue
  lib/DataTable/DataTable.vue
  package.json
  vite.package.config.ts
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

solucion css
  dist/style.css
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
  lib/DataTable/Components/Filter/Filter.vue
  lib/DataTable/Components/Filter/SearchIcon.vue
  lib/DataTable/Components/Filter/SearchInput.vue
  lib/DataTable/Components/Loading.vue
  lib/DataTable/Components/Pagination/BottomPaginationWrapper.vue
  lib/DataTable/Components/Pagination/Pagination.vue
  lib/DataTable/Components/Pagination/PaginationButtons.vue
  lib/DataTable/Components/Pagination/PaginationInfo.vue
  lib/DataTable/Components/Pagination/PaginationLink.vue
  lib/DataTable/Components/Pagination/PaginationSize.vue
  lib/DataTable/Components/Pagination/TopPaginationWrapper.vue
  lib/DataTable/Components/Table/TBody.vue
  lib/DataTable/Components/Table/THead.vue
  lib/DataTable/Components/Table/TableBodyCell.vue
  lib/DataTable/Components/Table/TableHeadCell.vue
  lib/DataTable/Components/Table/TableRow.vue
  lib/DataTable/Components/Table/TableWrapper.vue
  lib/DataTable/DataTable.vue
  package.json
  vite.demo.config.ts
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

solucion css
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
  lib/DataTable/Components/Filter/Filter.vue
  lib/DataTable/Components/Filter/SearchIcon.vue
  lib/DataTable/Components/Filter/SearchInput.vue
  lib/DataTable/Components/Loading.vue
  lib/DataTable/Components/Pagination/BottomPaginationWrapper.vue
  lib/DataTable/Components/Pagination/Pagination.vue
  lib/DataTable/Components/Pagination/PaginationButtons.vue
  lib/DataTable/Components/Pagination/PaginationInfo.vue
  lib/DataTable/Components/Pagination/PaginationLink.vue
  lib/DataTable/Components/Pagination/PaginationSize.vue
  lib/DataTable/Components/Pagination/TopPaginationWrapper.vue
  lib/DataTable/Components/Table/TBody.vue
  lib/DataTable/Components/Table/THead.vue
  lib/DataTable/Components/Table/TableBodyCell.vue
  lib/DataTable/Components/Table/TableHeadCell.vue
  lib/DataTable/Components/Table/TableRow.vue
  lib/DataTable/Components/Table/TableWrapper.vue
  lib/DataTable/DataTable.vue
  package.json
  vite.package.config.ts
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

scss para la tabla
  lib/DataTable/Components/Filter/Filter.vue
  lib/DataTable/Components/Filter/SearchIcon.vue
  lib/DataTable/Components/Filter/SearchInput.vue
  lib/DataTable/Components/Loading.vue
  lib/DataTable/Components/Pagination/BottomPaginationWrapper.vue
  lib/DataTable/Components/Pagination/Pagination.vue
  lib/DataTable/Components/Pagination/PaginationButtons.vue
  lib/DataTable/Components/Pagination/PaginationInfo.vue
  lib/DataTable/Components/Pagination/PaginationLink.vue
  lib/DataTable/Components/Pagination/PaginationSize.vue
  lib/DataTable/Components/Pagination/TopPaginationWrapper.vue
  lib/DataTable/Components/Table/TBody.vue
  lib/DataTable/Components/Table/THead.vue
  lib/DataTable/Components/Table/TableBodyCell.vue
  lib/DataTable/Components/Table/TableHeadCell.vue
  lib/DataTable/Components/Table/TableRow.vue
  lib/DataTable/Components/Table/TableWrapper.vue
  lib/DataTable/DataTable.scss
  lib/DataTable/DataTable.vue
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

scss para la tabla
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
  lib/DataTable/DataTable.scss
  tsconfig.test.json
  vite.demo.config.ts
  vite.package.config.ts
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

scss para la tabla
  dist/@types/PaginationProps.d.ts
  dist/@types/QueryProps.d.ts
  dist/@types/TableQuery.d.ts
  dist/index.d.ts
  dist/style.css
  dist/utils/helpers.d.ts
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

soporte para filtrado dinamico y seleccion filas con checkbox
  lib/DataTable/@types/TableQuery.ts
  lib/DataTable/Components/Filter/Filter.vue
  lib/DataTable/Components/Table/THead.vue
  lib/DataTable/DataTable.scss
  lib/DataTable/DataTable.vue
  package.json
  src/components/Tables/ClickableRow.vue
  src/components/Tables/Filter.vue
  yarn.lock
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

soporte para filtrado dinamico y seleccion filas con checkbox
  lib/DataTable/@types/FilterCriteria.ts
  lib/DataTable/@types/FilterDefinition.ts
  lib/DataTable/Components/Table/TableBodyCheckBox.vue
  lib/DataTable/Components/Table/TableHeadCheckBox.vue
  lib/DataTable/Components/Table/TableHeadFilter.vue
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

soporte
  dist/@types/FilterCriteria.d.ts
  dist/@types/FilterDefinition.d.ts
  dist/@types/TableQuery.d.ts
  dist/@types/index.d.ts
  dist/index.d.ts
  dist/style.css
  dist/types/index.d.ts
  dist/types/lib/DataTable/@types/PaginationProps.d.ts
  dist/types/lib/DataTable/@types/QueryProps.d.ts
  dist/types/lib/DataTable/@types/TableQuery.d.ts
  dist/types/lib/DataTable/index.d.ts
  dist/types/lib/DataTable/utils/helpers.d.ts
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
  lib/DataTable/@types/index.ts
  lib/DataTable/Components/Filter/Filter.vue
  lib/DataTable/Components/Table/TableBodyCheckBox.vue
  lib/DataTable/Components/Table/TableHeadCheckBox.vue
  lib/DataTable/Components/Table/TableHeadFilter.vue
  lib/DataTable/DataTable.vue
  lib/DataTable/index.ts
  package.json
  src/components/Tables/ClickableRow.vue
  src/components/Tables/Filter.vue
  tsconfig.lib.json
  tsconfig.test.json
  vite.demo.config.ts
  vite.package.config.ts
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

fusion
  lib/DataTable/@types/FilterDefinition.ts
  lib/DataTable/DataTable.vue
  package.json
  src/components/Tables/Filter.vue
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

fusion
  dist/@types/FilterDefinition.d.ts
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
  lib/DataTable/Components/Filter/Filter.vue
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

fusion
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
  lib/DataTable/Components/Table/TableHeadFilter.vue
  package.json
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

Path conditions:
  yarn lint:ts --fix: any of: **/*.{ts,vue}
  yarn lint:style --fix: any of: **/*.{css,scss,vue}
  yarn lint:prettier: any of: *
  yarn dist: any of: *
