Repository JoBinsJP/vue3-datatable: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

.lintstagedrc:

{
    "**/*.{ts,vue}":       [
        "yarn lint:ts --fix"
    ],
    "**/*.{css,scss,vue}": [
        "yarn lint:style --fix"
    ],
    "*":                   [
        "yarn lint:prettier",
        "yarn dist"
    ]
}

fusion
  package.json
Due: yarn lint:prettier, yarn dist

fusion
  lib/DataTable/Components/Filter/Filter.vue
  lib/DataTable/Components/Table/TableHeadFilter.vue
  lib/DataTable/DataTable.vue
  src/components/Tables/Filter.vue
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

fusion
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
  lib/DataTable/@types/FilterDefinition.ts
  lib/DataTable/Components/Filter/Filter.vue
  lib/DataTable/Components/Filter/SearchInput.vue
  lib/DataTable/DataTable.scss
  package.json
  src/components/Tables/Filter.vue
  yarn.lock
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

fusion
  lib/DataTable/Components/Filter/DropDownDownIcon.vue
  lib/DataTable/Components/Filter/DropDownUpIcon.vue
  lib/DataTable/Components/Filter/SearchDateRange.vue
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

fusion
  dist/@types/FilterDefinition.d.ts
  dist/style.css
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
  lib/DataTable/Components/Filter/DropDownDownIcon.vue
  lib/DataTable/Components/Filter/DropDownUpIcon.vue
  lib/DataTable/Components/Filter/Filter.vue
  lib/DataTable/Components/Filter/SearchDateRange.vue
  lib/DataTable/Components/Filter/SearchInput.vue
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

fusion
  dist/@types/FilterDefinition.d.ts
  dist/@types/index.d.ts
  dist/style.css
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
  lib/DataTable/@types/FilterDefinition.ts
  lib/DataTable/@types/index.ts
  lib/DataTable/Components/Filter/Filter.vue
  lib/DataTable/Components/Filter/SearchDateRange.vue
  lib/DataTable/Components/Filter/SearchInput.vue
  lib/DataTable/DataTable.scss
  package.json
  src/components/Tables/Filter.vue
  yarn.lock
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

fusion
  dist/@types/FilterDataList.d.ts
  lib/DataTable/@types/FilterDataList.ts
  lib/DataTable/Components/Filter/CloseIcon.vue
  lib/DataTable/Components/Filter/SearchList.vue
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

fusion
  lib/DataTable/Components/Filter/SearchList.vue
  package.json
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

fusion
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
Due: yarn lint:prettier, yarn dist

fusion
  dist/style.css
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
  lib/DataTable/Components/Filter/SearchList.vue
  lib/DataTable/DataTable.scss
  package.json
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

fusion
  dist/style.css
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
  lib/DataTable/Components/Filter/SearchList.vue
  lib/DataTable/DataTable.scss
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

fusion
  dist/style.css
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
  lib/DataTable/Components/Filter/DropDownDownIcon.vue
  lib/DataTable/Components/Filter/DropDownUpIcon.vue
  lib/DataTable/Components/Filter/Filter.vue
  lib/DataTable/Components/Filter/SearchList.vue
  lib/DataTable/DataTable.scss
  package.json
  src/components/Tables/Filter.vue
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

fusion
  lib/DataTable/Components/Filter/SearchList.vue
  lib/DataTable/DataTable.scss
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

fusion
  dist/style.css
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
  lib/DataTable/Components/Filter/SearchList.vue
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

hola
  dist/style.css
  lib/DataTable/@types/TableQuery.ts
  lib/DataTable/DataTable.scss
  lib/DataTable/DataTable.vue
  package.json
  src/components/Tables/Filter.vue
  yarn.lock
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

hola
  dist/@types/TableQuery.d.ts
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
  lib/DataTable/DataTable.vue
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

hola
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
  lib/DataTable/Components/Filter/Filter.vue
  package.json
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

grid casi terminado
  lib/DataTable/DataTable.vue
  src/components/Tables/EmptyTable.vue
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

version 0.1.19
  lib/DataTable/DataTable.vue
  package.json
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

Column sorting
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
  lib/DataTable/@types/QueryProps.ts
  lib/DataTable/@types/TableQuery.ts
  lib/DataTable/Components/SortIcon.vue
  lib/DataTable/Components/Table/ColumnSorting.vue
  lib/DataTable/Components/Table/TableHeadCell.vue
  lib/DataTable/DataTable.vue
  package.json
  src/components/Tables/Basic.vue
  src/components/Tables/ClickableRow.vue
  tailwind.config.js
  yarn.lock
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

v1.0.13
  package.json
Due: yarn lint:prettier, yarn dist

Updates
  assets/index.577a8f1c.js
  assets/index.5a4c32a4.css
  assets/index.8cbadc05.css
  assets/index.fd7f764f.js
  assets/vendor.c3056e86.js
  assets/vendor.f626aa7d.js
  index.html
Due: yarn lint:style --fix, yarn lint:prettier, yarn dist

1.0.14
  package.json
Due: yarn lint:prettier, yarn dist

v1.0.14
  dist/style.css
  dist/vue3-datatable.es.js
  dist/vue3-datatable.umd.js
  lib/DataTable/Components/SortIcon.vue
Due: yarn lint:ts --fix, yarn lint:style --fix, yarn lint:prettier, yarn dist

tailwind preflight disabled
  dist/style.css
  tailwind.config.js
Due: yarn lint:style --fix, yarn lint:prettier, yarn dist

1.0.15
  package.json
Due: yarn lint:prettier, yarn dist

add docs for several properties
  README.md
Due: yarn lint:prettier, yarn dist

feature(docs): Minimal setup example
  README.md
Due: yarn lint:prettier, yarn dist
